@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  border: 0;
}


body>div {
  margin-left: 150px;
  margin-right: 150px;
}

* {
  box-sizing: border-box
}


hr {
  border-top: 1px rgba(177, 175, 175, 0.6);
  margin: 10px 50px;
}

.hlogo img {
  width: 40px;
  height: auto;
}

.head,
.hhead,
.hbody {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

}


.right {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;

}


.request {
  padding: 10px 20px;
  margin: 8px;
  background-color: rgb(58 186 180);
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 17px;
  margin-right: 80px;

}

.theme-mode {
  background-color: rgb(58 186 180);
  border-radius: 50px;
  border: none;
  padding: 5px 6px;
}

.theme-mode i {
  font-size: 18px;
  color: white;
  cursor: pointer;
}


.nav-ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  gap: 30px;

}


.nav-ul li {
  position: relative;
}

.nav-ul li a {
  text-decoration: none;
  color: #414142;
  font-size: 16px;
}

.nav-ul li a:hover {
  color: black;
}


.dropdown {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1000;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;

}

.dropdown li {
  list-style: none;

}


.dropdown li a {
  display: block;
  font-size: 14px;
  color: #414142;
  white-space: nowrap;
  text-align: left;
  padding: 10px 15px;



}

.dropdown li a:hover {
  color: rgb(58 186 180);
}


.nav-ul li:hover>.dropdown {
  display: block;

}

.nav-ul li.active>.dropdown {
  display: block;
}


label {
  width: 60px;
  height: 30px;
  position: relative;
  display: block;
  background: rgb(58 186 180);
  border-radius: 50px;
  box-shadow: inset rgb(0, 5px, 15px, 0.3);
  cursor: pointer;
  transition: 0.3s;
}


label:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: auto;
  background: linear-gradient(80px, #ffcc89, #d8860b);
  border-radius: 80px;
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.3);
}

#dark-mode {
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked+label {
  background: #242424;
}

input:checked+label:after {
  left: 58px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

label:after:active {
  width: 80px;
}

.background {
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: -1;
  position: absolute;
  transition: 0.3s;

}


.hbody .body1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;



}

.body1 .b-1 {
  margin-top: 0;
}

.body1 .b-1 h1 {
  font-size: 90px;
  font-weight: 900;
  white-space: nowrap;
  margin-bottom: 0;
}


.b-2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 60%;
  max-width: 980px;
  margin-top: 10px;

}


.b-2 .glow-1 {
  position: relative;
  display: block;
  width: 960px;
  z-index: 1;


}

.b-2 .glow-2 {
  position: absolute;
  display: block;
  width: 300px;
  top: 49%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}


.body1 .b-1 p {
  margin-top: 10px;
  font-size: 20px;
  color: #414142;
}


#form-input {
  padding: 12px 40px;
  text-align: left;
  font-size: 15px;
  border-radius: 4px;
  border: 1 solid #414142;

}

.request-b {
  padding: 12px 20px;
  margin: 8px;
  background-color: rgb(58 186 180);
  border: none;
  border-radius: 4px;

  font-size: 17px;

}



.request-b a {
  text-decoration: none;
  color: white;

}

.body1 .ulbody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  color: #414142;
  padding-left: 8px;
  list-style-type: none;
}

.body1 .ulbody li::before {
  content: "v";
  color: rgb(58 186 180);
  padding-right: 4px;
}

.days div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.days .day div {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
  margin-bottom: 40px;
  padding: 10px 70px;

}

.days .day div h3 {
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 0;

}

.days .day div p {
  color: #414142;
  margin: 0;
}


.section-carousell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  width: 100%;
}

.section-carousell .titolo {
  text-align: center;
  margin: 0 auto;
}

.section-carousell .titolo h1 {
  font-size: 55px;
}

.section-carousell .titolo p {
  font-size: 20px;
  color: #414142;
}

.carousel-container {
  display: flex;
  gap: 20px;
  overflow: hidden;
  margin-bottom: 30px;
  width: 100%;
  max-width: 1200px;
  margin: 0;

}

.section-carousell .carousel-container .item1 {
  flex: 3 3 3%;
  height: 400px;
  margin-bottom: 30px;

}

.carousel-container .item1 {
  position: relative;
}


.item1 .Learn .Creative {
  position: absolute;
  z-index: 1;

}


.section-carousell .carousel-container .item1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.frecce .frecce-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;

}

.frecce .frecce-button button {
  background-color: rgb(58 186 180);
  padding: 16px 18px;
  margin-top: 20px;
  color: #fff;
  border: none;
  margin-left: 0px;

}

.frecce .frecce-button button i {
  font-size: 20px;
}

.video {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.video .video-h1 {
  text-align: center;
  margin: 0 auto;
}



.container-video h1 {
  padding-top: 40px;

}

.video-h1 h1 {
  font-size: 55px;
  margin-bottom: 10px;
}

.video-h1 p {
  font-size: 22px;
  color: #414142;
  margin-bottom: 40px;

}


.video-b {
  display: flex;
  flex-direction: row;

}

.video-b .video-button {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-right: 170px;
}

.video-b .video-button button {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
  border: none;
  font-size: 16px;
  color: #414142;
  margin-bottom: 10px;
  padding: 6px 40px;
  cursor: pointer;

}

.video-b .video-button button span i {
  color: rgb(58 186 180);
}

.videoP {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 40%;
  margin-bottom: 20px;


}

.video-play {
  border-radius: 4px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
  border: none;
  background-color: #dddde6;

}


.video-play img {
  width: 100%;
  height: auto;


}

.video-play p {
  display: inline-block;
  margin: 10px 12px;


}


.mockup .mock-2 h2 {
  text-align: center;
  font-size: 55px;
  margin-top: 30px;
  margin-bottom: 10px;
}


.mockup .mock-2 p {
  text-align: center;
  font-size: 22px;
  color: #414142;
  margin-bottom: 20px;

}


.Mo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 2px;
  margin: 0 auto;
  max-width: 1200px;

}


.Mo img {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: autos;
  border-radius: 20px;
  margin-bottom: 20px;

}


.Mo .M1 .m {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 25px;
  background-color: rgb(58 186 180);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 120px;
  color: #f2f2f2;
}


.start {
  background: black;
}

.start .start-p h2 {
  text-align: center;
  font-size: 55px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #f2f2f2;
  padding-top: 60px;
}

.start .start-p p {
  text-align: center;
  font-size: 22px;
  color: #f2f2f2;
  margin-bottom: 50px;

}

.start-slide {
  display: flex;
  flex-direction: row;
  margin-left: 180px;
  margin-right: 80px;
  color: #f2f2f2;
}

.start-3-s .slide1 {
  border-radius: 1px;
  background: #fff;
  color: #242424;
  border: none;

}


.start-3-s {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
}


.slide1 {
  width: 26%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 15px;
  margin-bottom: 80px;


}

.slide1>div>div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
}

.slide1>div>div:first-child p:first-child {
  font-size: 18px;
  font-weight: bold;
}

.slide1>div>div:first-child p:last-child {
  font-size: 12px;
  color: rgb(58 186 180);
  background-color: rgb(58, 186, 180, 0.4);
  border-radius: 45%;
  width: 45px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.start-ul ul li span {
  display: inline;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  color: #8d8d95;
  padding-left: 0px;
  white-space: nowrap;

}

.slide1>div>div:nth-child(2) span:nth-child(2) {
  font-size: 50px;
  font-weight: bold;
}

.slide1>div>div:nth-child(2) span:first-child {
  font-size: 24px;
  color: #8d8d95;
}


.slide1 button {
  padding: 8px 0;
  border-radius: 3px;
  width: 100%;
  border: none;
  background-color: rgb(58 186 180);


}

.slide1 button:hover {
  cursor: pointer;
  background-color: rgb(69, 163, 158);
}

.slide1 button a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 14px;
  white-space: nowrap;
  font-weight: bold;



}

.start-ul ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.start-ul ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
  color: #414142;
}

.start-ul p {
  font-size: 20px;
}

.start-ul ul li::before {
  content: "✓";
  color: rgb(58 186 180);
  display: inline-block;
  line-height: 1;
}


.testimonials {
  margin-top: 40px;
  margin-left: 150px;
  margin-right: 150px;
}

.test-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.test-1>div {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}

.test-1 .testimg {
  padding: 30px;
}

.test-1 .testimg img {
  width: 10%;
  border-radius: 100%;
  text-align: center;
}

.test-1 .testimg>div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}


.test-1 .testimg>div:nth-child(2) p {
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  color: #414142;

}


.test-1 .testimg>div:nth-child(3) {
  text-align: center;
}


.test-1 .testimg>div:nth-child(3) a {
  color: rgb(58 186 180);
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
}



.clarity {
  margin-top: 40px;
  padding-bottom: 40px;

}

.clarity .clarity-1 {
  margin-left: 200px;
  margin-right: 200px;


}

.clarity .clarity-1>div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clarity .clarity-1>div:first-child h2 {
  font-size: 55px;
  text-align: center;
}


.clar2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: nowrap;
}

.clar2 .card {
  padding: 30px 15px;
  cursor: pointer;

}

.clar2 i {
  font-size: 35px;
  color: #f2f2f2;
}

.clarity-1>div>div:nth-child(1) {
  background-color: #4FD1C5;
  color: #f2f2f2;
}

.clarity-1>div>div:nth-child(2) {
  background-color: #F687B3;
  color: #f2f2f2;
}

.clarity-1>div>div:nth-child(3) {
  background-color: #007aff;
  color: #f2f2f2;
}

.clarity-1>div>div:nth-child(4) {
  background-color: #ffcc89;
  color: #f2f2f2;
}


.box {
  background: #242424;
  margin-top: 40px;
  margin-left: 200px;
  margin-right: 200px;

}

.box .box1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 12px 20px;
  gap: 10px;

}


.box .box1>div:first-child h3 {
  font-size: 45px;
  color: #f2f2f2;

}

.box .box1>div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 6px;
}



.box .box1>div:nth-child(2) button {
  padding: 14px 22px;
  border-radius: 3px;
  width: 100%;
  border: none;
  background-color: rgb(70, 191, 185);
  font-size: 16px;
  color: #f2f2f2;

}



#box-input {
  border-radius: 1px solid #515152;
  border-radius: 3px;
  padding: 12px 70px;
  background-color: #2d2c2c;
  font-size: 17px;
  color: #c5c5cc;
  padding-left: 10px;
}



.footlogo img {
  display: block;
  width: 40px;
  height: auto;
  object-fit: contain;
}




.footersec {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.div-footer {
  display: grid;
  grid-template-columns: 1fr repeat(4, 1fr);
  gap: 15px;
  align-items: start;
  padding: 0 10px;
}


.div-footer h6 {
  font-size: 14px;
  color: #515152;
  margin-bottom: 6px;
  text-transform: uppercase;
}


.div-footer ul li a {
  text-decoration: none;
  color: #515152;
}


.div-footer ul li a:hover {
  text-decoration: underline;

}

.div-footer ul li {
  list-style: none;


}

.div-footer ul {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size: 14px;


}


.div-footer1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-icon ul   {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  
}

.footer-icon ul a {
  font-size: 30px;
  color:rgb(70, 191, 185) ;
  cursor: pointer;

}

.footer-icon ul a:hover {
  color: #0c9083;
}


.footer-icon ul li {
  list-style: none;
}


.div-footer1 a {
  text-decoration: none;
  font-size: 14px;
  color: #515152;
  gap: 6px;
  
  
}

.div-footer1 a:hover {
  text-decoration: underline;
}

.cruip {
    font-size: 14px;
  color: #515152;
}



/*Responsive */
@media (max-width: 790px) {
  .menu .right {
    position: fixed;
    height: 100%;
    width: 320px;
    left: 0;
    top: 0;
    background-color: white;
  }

  .nav-ul {
    flex-direction: column;
    padding-top: 60px;
  }

  .nav-ul li a {
    display: block;
    margin-top: 15px;
  }

  .menu .hlogo {
    width: 100%;
    display: flex;
  }

  .b-2 .glow-1 {
    width: 100%;
  }

  .b-2 .glow-2 {
    width: 70%;
  }
}